<html>
    <head>
        <script type="text/javascript" src='https://gonote.duckdns.org:6919/assets/media/js/ajax.js'></script>
        <script language="javascript">
        function run_command_action(action="", postdata="") {
            var Token = encodeURIComponent(document.getElementsByName("token")[0].value);
            var headers = [ ["X-Authorization-Token", Token] ];
            if (action == "") { action = document.getElementById('action').value }
            AJAX.postText("/run/"+encodeURIComponent(action),
                postdata,
                function(r) {
                    ele = document.getElementById("output");
                    ele.innerHTML = r;
                },
                headers);
        }
        function run_quick_project_xfer() {
            pid = document.getElementById('quick_prj_id').value
            project_new_path = document.getElementById('project_new_path').value
            extra_registry_name = document.getElementById('extra_registry_name').value
            postdata = "quick_prj_id="+pid+"&project_new_path="+project_new_path+"&extra_registry_name="+extra_registry_name
            run_command_action("run_quick_project_xfer", postdata)
        }
        </script>
    <title>Go1 GitlabProjectDomain Console</title>
    </head>
    <body>
        <h1>Go1 Gitlab Domain Console</h1>
        <h3>User: {{.user}}</h3>
        <p>Please read <a target="blank" href="https://go1web.atlassian.net/wiki/spaces/EngineeringTeam/pages/2172912175/Use+GitlabDomain+tool+to+transfer+project+to+new+Domain">Documentation</a> first if you have not yet done so. 3mins</p>
        <table>
            <tr>
                <td>Run command action: </td><td>
                    <select name="action" id="action">
                        <option value="UpdateProjectDomainFromExcelNext">UpdateProjectDomainFromExcelNext</option>
                        <option value="update-all">update-all</option>
                        <option value="update-project">update-project</option>
                        <option value="update-namespace">update-namespace</option>
                        <option value="update-team">update-team</option>
                        <option value="UpdateGitlabUser">UpdateGitlabUser</option>
                    </select>
                </td>
                <td><input name="run_command_action" type="button" value="Run" onclick="return run_command_action();" /></td>
            </tr>
        </table>
        <hr/>
        <h3>Project Migration Console</h3>
        <a href="/transferproject/{{.page_offset}}?migrated=0">List projects need to be migrated</a><br/>
        <a href="/transferproject/{{.page_offset}}?migrated=1">List projects already migrated</a><br/>
        <input type="hidden" name="user" value="{{ .user }}"/>
        <input type="hidden" name="token" value="{{ .token }}"/>
        <hr/>
        <h3>TransferProjectQuick</h3>
        <p>Just transfer a project to new path and get/push images.<ul>
            <li>Variable is safely copied from root group domain => new root group domain</li>
            <li>No replicate groups in between. Assume the new path (that is new group) has been created already</li>
            <li>newPath should not started with slash /</li>
        </p>
        <label for="quick_prj_id">Project ID: </label> <input type="text" name="quick_prj_id" id="quick_prj_id" value="" /><br/>
        <label for="project_new_path">New path: </label><input type="text" name="project_new_path" id="project_new_path" value="" /><br/>
        <label for="extra_registry_name">extraRegistryImageName if do not know, leave it empty:</label><input type="text" name="extra_registry_name" id="extra_registry_name" value="" /><br/>
        <input type="button" name="run_quick_project_xfer" value="run" onclick="return run_quick_project_xfer();">
        </ul>
        
        <hr/><h4><a href="/log/">Log</a></h4>
        <div id="output" name="output"></div>
        <div id="list_running_procs"><pre>Current running procs: (hit reload browser to refresh)
            {{ .running_procs }}</pre></div>
        <hr/>

    </body>
</html>
