<html>
    <head>
        <script type="text/javascript" src='https://gonote.duckdns.org:6919/assets/media/js/ajax.js'></script>
        <script language="javascript">
        function run_command_action() {
            var Token = encodeURIComponent(document.getElementsByName("token")[0].value);
            var headers = [ ["X-Authorization-Token", Token] ];
            AJAX.postText("/run/"+encodeURIComponent(document.getElementById('action').value),
                "",
                function(r) {
                    ele = document.getElementById("output");
                    ele.innerHTML = r;
                },
                headers);
        }
        </script>
    <title>Go1 GitlabProjectDomain Console</title>
    </head>
    <body>
        <h1>Go1 Gitlab Domain Console</h1>
        <h3>User: {{.user}}</h3>
        <p>Please read <a target="blank" href="https://go1web.atlassian.net/wiki/spaces/EngineeringTeam/pages/2172912175/Use+GitlabDomain+tool+to+transfer+project+to+new+Domain">Documentation</a> first if you have not yet done so. 3mins</p>
        <table>
            <tr>
                <td>Run command action: </td><td>
                    <select name="action" id="action">
                        <option value="UpdateProjectDomainFromExcelNext">UpdateProjectDomainFromExcelNext</option>
                        <option value="update-all">update-all</option>
                        <option value="update-project">update-project</option>
                        <option value="update-namespace">update-namespace</option>
                        <option value="update-team">update-team</option>
                        <option value="UpdateGitlabUser">UpdateGitlabUser</option>
                    </select>
                </td>
                <td><input name="run_command_action" type="button" value="Run" onclick="return run_command_action();" /></td>
            </tr>
        </table>
        <hr/>
        <h3>Project Migration Console</h3>
        <a href="/transferproject/{{.page_offset}}?migrated=0">List projects need to be migrated</a><br/>
        <a href="/transferproject/{{.page_offset}}?migrated=1">List projects already migrated</a><br/>
        <input type="hidden" name="user" value="{{ .user }}"/>
        <input type="hidden" name="token" value="{{ .token }}"/>
        <hr/><h4><a href="/log/">Log</a></h4>
        <div id="output" name="output"></div>
        <div id="list_running_procs"><pre>Current running procs: (hit reload browser to refresh)
            {{ .running_procs }}</pre></div>
    </body>
</html>
